

.login{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.right-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100vh;
    overflow: hidden;
}

.left-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1540449078594-94d6173856c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=630&q=80');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: white;
}
.left-panel > h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.left-panel > p{
    margin:5px;
}
.left-panel > h1 > i {
    font-size: 36px;
}

.right-panel > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: white;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    cursor: pointer;
    transition: all .1s;
    font-size: 13px;
    font-weight: 1000;
}

.right-panel > button:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
    transform: scale(1.02);
}

.right-panel > p {
    margin-bottom: 15px;
    font-size: 25px;
}

@media screen and (max-width: 992px) {

    .login{
        flex-direction: column;
        width: 100%;
    }
    .left-panel{
        height: 60vh;
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
        .left-panel>h1{
            font-size: 40px;
            margin-bottom: 25px;
        }
        .left-panel>p{
            font-size: 14px;
        }
    .right-panel{
        height: 30vh; 
        width: 100%;   
        box-shadow: none;    
    }
        .right-panel>p{
            font-size: 24px;
        }

}

#video {
    position: relative;
    z-index: -100;
    min-width: 100%;
}